.video {
    text-align: center;
    max-width: 900px;
    margin: 24px auto;
}

.video > div {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%),
                0 2px 4px -2px rgb(0 0 0 / 10%);
    transition: box-shadow 0.3s ease;
}

.video > div:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
                0 8px 10px -6px rgb(0 0 0 / 10%);
}

.video[data-embed-loaded='false']:not(.placeholder) {
    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: 16 / 9;
}

.video video {
    max-width: 100%;
}

.video .video-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video .video-placeholder > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.video[data-embed-loaded='true'] .video-placeholder,
.video[data-embed-loaded='false'] .video-placeholder + * {
    visibility: hidden;
    height: 0;
    width: 0;
}

.video .video-placeholder picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video .video-placeholder-play button {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: 2px solid;
    padding: 0;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%),
                0 4px 6px -4px rgb(0 0 0 / 20%);
    transition: all 0.3s ease;
    background-color: rgb(255 255 255 / 90%);
    backdrop-filter: blur(4px);
}

.video .video-placeholder-play button:hover {
    transform: scale(1.1);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 30%),
                0 8px 10px -6px rgb(0 0 0 / 30%);
    background-color: rgb(255 255 255 / 100%);
}

.video .video-placeholder-play button::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 24px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
}

.video .video-placeholder-play button:focus,
.video .video-placeholder-play button:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
    background-color: black;
}
